/* Fonts from fonts.css file */
@import url(./font.css);

/* Css variables */
@import url(./partials/variables.css);

/* Css Global */
@import url(./partials/_global.css);

body {
    background: #f8f9fa;
    height: 100%;
    width: 100%;
}

header {
    background: #f8f9fa;
    height: 100vh;
    width: 100%;
}

.navbar {
    padding: 30px;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    box-shadow: var(--box-shadow);
}

.navbar-brand img {
    width: 90px;
}

.nav-item .nav-link {
    margin-right: 20px;
    font-size: 15px;
    padding: 3px 3px;
}

#custom-bg {
    width: 110%;
    border: none;
    background: transparent;
}

.header-content {
    margin-top: 30px !important;
    margin-left: 80px;
}

.header-content2 {
    margin-top: 30% !important;
    margin-left: 30%;
}

.header-content3 {
    margin-top: 6% !important;
    margin-left: 35%;
    color: var(--primary-color3);
}

.text-title{
    font-family: var(--Poppins-bold);
    font-weight: 700;
}

.header-content p {
    padding: 5px 30px 0 5px;
}

.main-heading {
    font-family: var(--Poppins-bold);
    font-size: 96px;
}

#heading {
    margin-left: 3%;
    margin-top: 3%;
    color: var(--primary-color);
}

#heading1 {
    margin-top: 2%;
}

#heading3 {
    margin-left: 3%;
    color: var(--primary-color);
}

html.sr .load-hidden {
    visibility: hidden;
}

div.featured:before {
    content: '';
    position: absolute;
    top: 190px;
    left: 18;
    width: 50px;
    height: 5px;
    background-image: -webkit-linear-gradient(45deg, var(--primary-color2) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--primary-color2) 15%, var(--primary-color) 65%);
}

div.featured2:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 18;
    width: 300px;
    height: 5px;
    background-image: -webkit-linear-gradient(45deg, var(--primary-color3) 15%, var(--primary-color3) 65%);
    background-image: linear-gradient(45deg, var(--primary-color3) 15%, var(--primary-color3) 65%);
}

.about-btn {
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    padding: 10px;
    transition: all .5s;
    background: #f8f9fa;
    box-shadow: var(--box-shadow);
}

.about-btn:hover {
    transform: scale(1, 1);
    background: var(--primary-color2);
    text-decoration: none;
    color: #fff;
    border: 0px var(--primary-color2);
    box-shadow: var(--box-shadow);
}

body section.featured::after {
    height: 60px;
    bottom: -30px;
}

section.featured {
    position: relative;
}

section.featured:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -50px;
    left: 50%;
    left: calc(50% - 2.5px);
    width: 5px;
    height: 100px;
    background-image: -webkit-linear-gradient(45deg, var(--primary-color2) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--primary-color2) 15%, var(--primary-color) 65%);
}

section.featured.left:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-color);
}

section.featured.right:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-color);
}

.cards {
    background: #f8f9fa;
    box-shadow: var(--box-shadow);
    border-radius: 3%;
    transition: all .5s;
}

.cards:hover {
    transform: scale(1, 1);
    background: var(--primary-color2);
    border: 1px solid var(--primary-color2);
    box-shadow: var(--box-shadow);
    color: whitesmoke;
}

.cards2 {
    background: #f8f9fa;
    box-shadow: var(--box-shadow);
    border-radius: 3%;
    transition: all .5s;
}

.cards3 {
    background: #f8f9fa;
    box-shadow: var(--box-shadow);
    border-radius: 3%;
    transition: all .5s;
    margin-top: -5%;

}

.cards2:hover,
.cards3:hover {
    background: #f8f9fa;
    border: 1px solid var(--primary-color2);
    box-shadow: var(--box-shadow);
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}

footer {
    width: 100%;
    display: block;
    background: var(--primary-color);
    height: 22%;
}

.social a {
    font-size: 2.5em;
    padding: 0.3rem;
}

.background {
    background: url(../img/ozonecross.png) no-repeat;
    background-position: center;
    background-size: 6em;
}

.background2 {
    background: url(../img/about-hero.png) no-repeat;
    background-position: center;
    width: 100%;
}
.about-para{
    font-size: 20px;
    margin-left: -2%;
    margin-top: 10%;
}

.vision{
    margin-top: 17%;
    margin-left: 15%;
    margin-right: 15%;
    background: var(--primary-color2);
    box-shadow: var(--box-shadow);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    color:#fff;
}
#vision{
    margin-top: 2%;
    margin-left: 10%;
}
.vision-para{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;
    color: #fff;
    font-family: var(--poppins);
}