/*Fonts from fonts.css file*/
@import url(./font.css);

/*Css variables*/
@import url(./partials/variables.css);

/*Css Global*/
@import url(./partials/_global.css);


header{
    background: rgb(242, 240, 240);
    height: 100vh;
    width: 100%;
}

.navbar{
    padding: 30px;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    box-shadow: var(--box-shadow);
}

.navbar-brand img{
    width: 90px;
}

.nav-item .nav-link{
    margin-right: 20px;
    font-size: 15px;
    padding: 3px 3px;
}

#custom-bg {
    width: 110%;
    border: none;
    background: transparent;
}

.header-content {
    margin-top: 150px !important;
    margin-left: 150px;
}

.header-content p {
    padding: 5px 30px 0 5px;
}

.main-heading{
    font-family: var(--Poppins-bold);
    font-size:96px;
}

.about-btn{
    border: 1px solid #e8262d;
    padding: 10px;
    transition: all .5s;
    background: transparent;  
}

.about-btn:hover{
    transform: scale(1,1);
    background: var(--primary-color);
    text-decoration: none;
    color: #fff;
    border: 0px var(--primary-color)
}

body section.featured:after {
    height: 60px;
    bottom: -30px;
}

section.featured.left:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-color);
}

section.featured:after {
    content: '';
    position: absolute;
    z-index: 2;
    /* bottom: -50px; */
    /* left: 50%; */
    left: calc(50% - 2.5px);
    width: 5px;
    /* height: 100px; */
    /* background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%); */
    background-image: linear-gradient(45deg, var(--primary-color3) 15%, var(--primary-color) 65%);
}