/* Fonts from fonts.css file */
@import url(./font.css);

/* Css variables */
@import url(./partials/variables.css);

/* Css Global */
@import url(./partials/_global.css);

body {
    background: #f8f9fa;
}

header {
    background: #f8f9fa;
    height: 100vh;
    width: 100%;
}

.navbar {
    padding: 30px;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    box-shadow: var(--box-shadow);
}

.navbar-brand img {
    width: 90px;
}

.nav-item .nav-link {
    margin-right: 20px;
    font-size: 15px;
    padding: 3px 3px;
}

#custom-bg {
    width: 110%;
    border: none;
    background: transparent;
}

.header-content {
    margin-top: 30px !important;
    margin-left: 80px;
}

.header-content p {
    padding: 5px 30px 0 5px;
}

.main-heading {
    font-family: var(--Poppins-bold);
    font-size: 96px;
}

#heading {
    margin-left: 3%;
    margin-top: 3%;
}

#heading1 {
    margin-top: 10%;
}

.about-btn {
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    padding: 10px;
    transition: all .5s;
    background: transparent;
    box-shadow: var(--box-shadow);
}

.about-btn:hover {
    transform: scale(1,1);
    background: var(--primary-color);
    text-decoration: none;
    color: #fff;
    border: 0px var(--primary-color);
}

body section.featured:after {
    height: 60px;
    bottom: -30px;
}

section.featured.left:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-color);
}


section.featured.right:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 260%;
    right: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-color);
}

section.featured:after {
    content: '';
    position: absolute;
    z-index: 2;
    left: calc(50% - 2.5px);
    width: 5px;
    background-image: linear-gradient(45deg, var(--primary-color3) 15%, var(--primary-color) 65%);
}

.cards {
    background: transparent;
    border: none;
    transition: all .5s;
}

.cards:hover {
    transform: scale(1,1);
    background: var(--primary-color2);
    border: 1px solid var(--primary-color2);
    box-shadow: var(--box-shadow);
    color: whitesmoke;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}